@model SalesTrackerMVC.Models.PageViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemsTable.Item_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemsTable.Item_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemsTable.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemsTable.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemsTable.Purchase_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemsTable.Purchase_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemsTable.Purchase_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemsTable.Purchase_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemsTable.Category_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemsTable.Category_ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="itemsTable.Item_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
